<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body class="font-sans">
    <div class="sm:flex body-custom">
      {{- partial "header.html" . -}}
      <main id="swup" class="transition-fade sm:pl-20">
        <div id="content">
      {{- block "main" . }}{{- end }}
      </div>
      {{- partial "footer.html" . -}}
    </main>
      </div>
  </body>
  <!-- component -->
  <script defer src="/assets/lottie-player.js"></script>
  <script defer type="text/javascript">
    function setDoneAnimation(){
      let animatonCode = '<lottie-player src="/assets/done.json" background="#12181B" speed="1" style="" loop autoplay></lottie-player>';
      let contactFrom = document.getElementById("contact-form");
      contactFrom.innerHTML = animatonCode;
    }
    async function sendData(){
      let fieldName = document.getElementById('name').value;
      let fieldEmail = document.getElementById('email').value;
      let fieldMessage = document.getElementById('message').value;
      let emailHash = null;

        await fetch("https://api.hashify.net/hash/md5/hex?value="+fieldEmail.toLowerCase())
        .then(res=> res.json())
        .then(data => emailHash = data.Digest);

        let params = {
          username: fieldName,
          avatar_url: "https://www.gravatar.com/avatar/"+emailHash,
          content: fieldMessage + " you can contact me at : " + fieldEmail
        }

      var request = new XMLHttpRequest();
      request.open("POST", "https://discord.com/api/webhooks/876283951998726185/w511wwzOH9jNJwEwpJao9n9Ehq7v08UhKPOdJp26ePA4UGb91bbrvHe5EEVVaICmhuf6");

      request.setRequestHeader('Content-type', 'application/json');

      request.send(JSON.stringify(params));

      console.log(params);

      console.log("message send succesfully");
      setDoneAnimation();
    }
  </script>
  
</html>
