
<section class="bg-newgreen body-font relative">
  <div class="container py-24 mx-auto">
    <div class="lg:w-1/2 md:w-2/3 sm:mx-auto mx-2">
      <from id="contact-form" class="flex flex-wrap -m-2">
        <div class="p-2 w-1/2">
          <input class="w-full bg-gray-100 rounded border border-newgrey2 focus:outline-none focus:border-blue-500 text-base px-4 py-2 bg-newgrey" placeholder="Name" type="text" id="name">
        </div>
        <div class="p-2 w-1/2">
          <input class="w-full bg-gray-100 rounded border border-newgrey2 focus:outline-none focus:border-blue-500 text-base px-4 py-2 bg-newgrey" placeholder="Email" type="email" id="email">
        </div>
        <div class="p-2 w-full">
          <textarea class="w-full bg-gray-100 rounded border border-newgrey2 focus:outline-none h-48 focus:border-blue-500 text-base px-4 py-2 resize-none block bg-newgrey" placeholder="Comments" id="message"></textarea>
        </div>
        <div class="p-2 w-full">
          <button onclick="sendData()" class="flex mx-auto text-white bg-newgrey shadow-sm border-0 py-2 px-8 focus:outline-none hover:bg-blue-600 rounded text-lg">Submit ✉️ </button>
        </div>
      </from>
    </div>
  </div>
</section>