h1 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1.5rem;
    font-size: 1.75rem;
    line-height: 35px !important;
    font-weight: 800;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
    border-bottom: 2px dashed gray;
    padding-bottom: 0.75rem;
}

h2 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.35rem;
    line-height: 30px !important;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
    border-bottom: 2px dashed gray;
    padding-bottom: 0.75rem;
}
h3 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.25rem;
    line-height: 30px !important;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
}
h4 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 1.15rem;
    line-height: 30px !important;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
}
h5 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 30px !important;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
}
h6 {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    font-size: 0.8rem;
    line-height: 30px !important;
    font-weight: 600;
    letter-spacing: -0.025em;
    --tw-text-opacity: 1;
    color: #ffffff;
    text-transform: capitalize;
}

p {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
    color: #b2becd;
    font-size: 20px;
    font-weight: 500;
    line-height: 2rem;
}
li {
    color: #b2becd;
}
.code-name {
    background: #22262f;
    padding: 0.5em 1em 0.5em 0.5em;
    display: inline-flex;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    font-size: 0.9em;
    color: #b2becd;
    box-shadow: 4px 0 10px -3px #010101;
}
.code-name .code-icon {
    width: 24px;
    height: 24px;
    display: block;
    margin-right: 10px;
}

pre {
    box-shadow: 4px 0 10px -3px #010101;
    padding: 30px;
    overflow: scroll;
    font-size: 1rem;
    background-color: #2a2e35;
}

code > span {
    font-size: 1rem;
}

div#content a {
    color: #1da1f2;
}

@media only screen and (max-width: 992px) {
    p {
        font-size: 1.15rem;
    }
    h1#title {
        font-size: 2.15rem;
        text-align: center;
        padding-bottom: 1.15rem;
    }
    h2 {
        font-size: 1.65rem;
    }
    h3 {
        font-size: 1.45rem;
    }
    h4 {
        font-size: 1.25rem;
    }
    h5 {
        font-size: 1.15rem;
    }
    h6 {
        font-size: 1.15rem;
    }
}

div.searchitem {
    border-bottom: 2px dashed gray;
    padding-bottom: 0.25rem;
}

h3.title,
p.searchdec {
    margin-bottom: 5px;
}

img {
    border-radius: 5px !important;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

div.finishArticle {
    border-bottom: 2px dashed gray;
    padding-bottom: 0.75rem;
}

b,
strong {
    color: white;
    font-weight: 600;
}
